.card {
	margin-bottom: 1.875em;
	position: relative;
	overflow: visible;
	border-radius: 3px;
	border: 1px solid #e7e7e7;
}

.image {
	max-height: 200px;
    overflow: hidden;
    border-radius: 3px 3px 0px 0px;
}

.image img { width: 100%; }

.card-content {
	padding: 10px;
}

.word-wrap{ white-space: normal; }

#car-comparison .word-wrap h4 {
	display: flex;
	height: 75px;
	align-items: center;
}

.promo-details div {
	display: inline-block;
	width: 49%;
}

.manufacturer-logo { 
	width: 50px; 
	float: right;
}

.video-card { 
	border: 1px solid #333333; 
	background: #333333;
}

@media only screen and (max-width: 600px) {
	.card-holder .grid {
		flex-flow: nowrap;
		overflow-y: hidden;
		overflow-x: scroll;
		white-space: nowrap;
	}

	.card-holder .grid:before {
		content: ".";
	    display: block;
	    height: 0;
	    overflow: hidden;
	}
	.card-holder .grid:after {
		content: ".";
	    display: block;
	    height: 0;
	    overflow: hidden;
	}

	.card { margin-bottom: 0px; }

	.card-content h4 { font-size: 14px; }

	.manufacturer-logo { width: 40px; }

	iframe { height: 200px; }

	#featured-newcar-promo .helptext { display: none; }
	#recent-newcar-promo .helptext { display: none; }
	#latest-videos .helptext { display: none; }
	#featured-usedcar .helptext { display: none; }
	#car-comparison .helptext { display: none; }
	#news-reviews .helptext { display: none; }
}